/* App.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #03032c;
  color: white;
}

.logoImg{
  width: 50px ;
  height: 40px;
}
.navContainer{

  display: flex;
}
.navChild{
  margin: 0.7rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logoutContainer{
  margin: 1rem;
}