
 .dashboardIconBox{
display: flex;
/* justify-content: space-between; */
padding: 1rem;
color: black;
align-items: center;
 }
 .iconClass , .linkIcon{
    margin: 0.1rem;
 }
.linkIcon, .linkIcon:hover{
    color: black;
}

